@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #4a4a4a;
}
h2 {
    font-size: 2.5em;
    font-weight: 900;
}

p {
    font-weight: 300;
}

h3.courseHeading {
    margin-bottom: 8px;
    font-weight: 500;
}

h4.courseHeading {
    font-weight: 300;
    margin-bottom: 8px;
}

p.courseDescription {
    font-weight: 300;
    margin-bottom: 8px;
}

nav#desktop {
    display: flex;
    justify-content: space-between;
    min-height: 64px;
    align-items: center;
}

nav#mobile {
    display: flex;
    justify-content: space-evenly;
    min-height: 64px;
    align-items: center;
}

.nav li {
    display: inline-block;
    margin-left: 16px;
}

.nav li.last {
    margin-right: 24px;
}

div.logo {
    display: flex;
    min-height: 32px;
    margin-left: 24px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.banner img {
    width: 60%;
    margin: 32px 24px;
}

.information {
    width: 40%;
    display: flex;
    flex-direction: column;
}

button.button {
    padding: 8px 0;
    width: 80%;
    background-color: rgb(73, 73, 73);
    color: white;
    border-style: none;
}

.information h2 {
    margin-bottom: 20px;
}

.information p {
    margin-bottom: 20px;
}

.news {
    display: flex;
    justify-content: center;
    width: 100%;
}
div.spotlight {
    width: 60%;
    margin: 32px 24px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

div.spotlightQuote {
    padding: 32px 0;
}

h2.quoteHeading {
    margin-bottom: 24px;
}

p.person {
    margin-top: auto;
}

div.topics {
    width: 40%;
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.topic {
    width: 100%;
    display: flex;
    padding: 16px 16px;
}

img.information-main {
    width: 100%;
    height: auto;
}

div.topics {
    margin-top: 16px;
}

h3.heading {
    margin-bottom: 8px;
}

p.date {
    margin-bottom: 8px;
}
p.readmore {
    color: rgb(38, 172, 255);
}

.imageContainer {
    width: 35%;
    height: auto;
}

div.startLearning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 32px 72px;
    background-color: lightgray;
    align-items: center;
}

img.image {
    width: 100%;
}

.textContainer {
    display: flex;
    flex-direction: column;
    width: 65%;
    justify-content: center;
    margin-left: 24px;
}

div.selected {
    background-color: lightgray;
}

div.courseElement {
    background-color: white;
    margin: 16px;
    width: 300px;
}
div.courseText {
    padding: 24px 16px;
}

div.courses {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 32px 72px;
    flex-wrap: wrap;
}

.courseElement img {
    height: auto;
    width: 100%;
}

div.thesis {
    display: flex;
}

div.thesisTopics {
    justify-content: flex-start;
    margin-top: 32px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    border-top: solid rgb(202, 202, 202) 1px;
    color: grey;
}

footer li {
    display: inline-block;
    margin-left: 10px;
}
.thesisHeading {
    width: 100%;
    margin-top: 32px;
    text-align: center;
}

@media only screen and (max-width: 960px) {
    nav#desktop {
        display: none;
    }
    div.banner {
        flex-direction: column;
        align-items: center;

    }
    .banner img {
        width: 100%;
        margin: 0px;
    }
    div.information {
        padding: 32px 16px;
    }
    div.news .spotlight {
        display: none;
    }
    div.topics {
        width: 100%;
    }
    div.topic {
        flex-direction: column;
    }
    div.imageContainer {
        width: 100%;
    }
    img.image {
        height: 100%;
    }
    img.desktop {
        display: none;
    }
    .textContainer {
        margin: 16px;
    }
    div.selected {
        background-color: white;
    }
    div.startLearning {
        background-color: white;
        border-top: rgb(202, 202, 202) 1px solid;
        padding: 0;
    }
    .startLearning h2 {
        margin-top: 32px;
    }
    div.courses {
        padding: 0px;
    }
    div.courseElement {
        width: 100%;
        margin: 8px 16px;
    }
    .coursePic {
        display: none;
    }
    h4.courseHeading {
        display: none;
    }
    .courseDescription {
        display: none;
    }
    h3.courseHeading {
        background-color: rgb(212, 212, 212);
        padding: 16px 16px 24px 16px;
        color: rgb(87, 87, 87);
    }
    div.courseText {
        margin: 0;
        padding: 0;
    }
    div.thesis {
        width: 100%;
    }
    div.thesisTopics {
        display: none;
    }
    div.spotlight,.video video {
        width: 100%;
        height: auto;
    }
    .lownav {
        display: none;
    }
    div.spotlightQuote {
        display: none;
    }
    footer {
        border: none;
    }
}

@media only screen and (min-width: 960px) {
    nav#mobile {
        display: none;
    }
    img.mobile {
        display: none;
    }
}